<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Exercice Infotel</title>
		<link rel="stylesheet" href="../wpk/app.prod.css" />
	</head>
	<body ng-app="mainApp" ng-strict-di>
		<ift-header></ift-header>
		Corps xx
		<ift-star note="4"></ift-star>
		<ift-star note="7"></ift-star>
		<ift-star note="-3"></ift-star>
		<input ng-model="myNote" />
		<ift-star note="myNote"></ift-star>
		<input ng-model="myNote2" />
		<ift-star note="myNote2"></ift-star>
		<ift-star note="blabla"></ift-star>
		<ift-star note=""></ift-star>
		<ift-star note></ift-star>
		<ift-star></ift-star>
		Date : {{ now | date : 'fullDate' }}
		<ift-footer kiki="keke" toto="tata"></ift-footer>
		<script src="../wpk/app.prod.js"></script>
	</body>
</html>
